.menu {

  &__list {
    display: flex;
    gap: 65px;
  }

  &__item {
    &--mobile {
      display: none;
    }
  }

  &__link {
    transition: all .3s ease;

    &:hover {
      color: $brown;
    }
  }
}