.slider {
  position: relative;

  &__img {
    margin-bottom: 20px;
  }

  &__controls {
    position: absolute;
    bottom: -20px;
    right: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__counter {
    font-size: 12px;
    color: $light-black;
  }

  &__btn {
    svg path {
      transition: all .3s ease-in-out;
    }

    &:hover {
      svg path {
        stroke-width: 1;
      }
    }
  }
}